[Desktop Entry]
Name=Virtual Keyboard
GenericName=Virtual Keyboard Applet
Comment=Control virtual keyboards from COSMIC panel
Type=Application
Exec=cosmic-virtual-keyboard
Terminal=false
Categories=Utility;Accessibility;System;COSMIC;
Keywords=virtual;keyboard;accessibility;input;touch;panel;applet;cosmic;
Icon=com.cosmic.VirtualKeyboard
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=End
X-OverflowPriority=10
